

/* ---- /1MdwanV12uDDiVsgrsifDFdSsigLRD9dzu/css/font-awesome.min.css ---- */


@charset "UTF-8";
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  -webkit-border-radius: .1em; -moz-border-radius: .1em; -o-border-radius: .1em; -ms-border-radius: .1em; border-radius: .1em ; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  -webkit-animation: fa-spin 2s infinite linear; -moz-animation: fa-spin 2s infinite linear; -o-animation: fa-spin 2s infinite linear; -ms-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear ; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  -webkit-animation: fa-spin 1s infinite steps(8); -moz-animation: fa-spin 1s infinite steps(8); -o-animation: fa-spin 1s infinite steps(8); -ms-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8) ; }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg) ; }
  100% {
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -ms-transform: rotate(359deg); transform: rotate(359deg) ; } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg) ; }
  100% {
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -ms-transform: rotate(359deg); transform: rotate(359deg) ; } }
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg) ; }
  100% {
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -ms-transform: rotate(359deg); transform: rotate(359deg) ; } }
@-moz-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg) ; }
  100% {
    -webkit-transform: rotate(359deg);
    -webkit-transform: rotate(359deg); -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -ms-transform: rotate(359deg); transform: rotate(359deg) ; } }


.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg) ; }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg) ; }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg) ; }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1); -o-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1) ; }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1); -moz-transform: scale(1, -1); -o-transform: scale(1, -1); -ms-transform: scale(1, -1); transform: scale(1, -1) ; }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none; -moz-filter: none; -o-filter: none; -ms-filter: none; filter: none ; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }
 

 /*# sourceMappingURL= font-awesome.min.css.map */


/* ---- /1MdwanV12uDDiVsgrsifDFdSsigLRD9dzu/css/highlight-dark.css ---- */


/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #444;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
    color: #fff;
}

.hljs,
.hljs-subst {
    color: #ddd;
}

.hljs-string {
    color: #e06870;
}

.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #1de9b6;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #819ca9;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}


/* ---- /1MdwanV12uDDiVsgrsifDFdSsigLRD9dzu/css/icons.css ---- */


.icons {
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    color: #AAA;
    font-size: 12px;
    -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; -ms-transition: background-color 0.3s; transition: background-color 0.3s ;
    margin-top: -7px;
    margin-bottom: -5px;
}

.icons.icons-button:hover {
    background-color: #F3F3F3;
    outline: 0px solid #F3F3F3;
    -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none ;
}

.icons.loading {
    pointer-events: none;
    -webkit-animation: bounce .3s infinite alternate ease-out; -moz-animation: bounce .3s infinite alternate ease-out; -o-animation: bounce .3s infinite alternate ease-out; -ms-animation: bounce .3s infinite alternate ease-out; animation: bounce .3s infinite alternate ease-out ;
    -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -o-animation-delay: 1s; -ms-animation-delay: 1s; animation-delay: 1s ;
}


/*.icons:focus { -webkit-animation: clicked 1s ease-in-out forwards; -moz-animation: clicked 1s ease-in-out forwards; -o-animation: clicked 1s ease-in-out forwards; -ms-animation: clicked 1s ease-in-out forwards; animation: clicked 1s ease-in-out forwards ; }

@keyframes clicked {
	  0% { outline: 1px solid #F3F3F3; }
	100% { outline: 15px solid rgba(250, 108, 141, 0) }
}
@-webkit-keyframes clicked {
	  0% { outline: 1px solid #F3F3F3; }
	100% { outline: 15px solid rgba(250, 108, 141, 0) }
}
@-moz-keyframes clicked {
	  0% { outline: 1px solid #F3F3F3; }
	100% { outline: 15px solid rgba(250, 108, 141, 0) }
}
*/

.icons-profile {
    font-size: 7px;
    top: 1px;
    -webkit-border-radius: 0.7em 0.7em 0 0; -moz-border-radius: 0.7em 0.7em 0 0; -o-border-radius: 0.7em 0.7em 0 0; -ms-border-radius: 0.7em 0.7em 0 0; border-radius: 0.7em 0.7em 0 0 ;
    background: #FFF;
    width: 1.5em;
    height: 0.7em;
    position: relative;
    display: inline-block;
    margin-right: 7px
}

.icons-profile:before {
    position: absolute;
    content: "";
    top: -1em;
    left: 0.38em;
    width: 0.8em;
    height: 0.85em;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50% ;
    background: #FFF;
}


/*.icons-comment { width: 16px; height: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px ; background: #B10DC9; margin-top: 0px; display: inline-block; position: relative; top: -2px; }
.icons-comment:after { left: 9px; border: 2px solid transparent; border-top-color: #B10DC9; border-left-color: #B10DC9; background: transparent; content: ""; display: block; margin-top: 10px; width: 0px; margin-left: 7px; }
*/

.icons-comment {
    padding-left: 30px;
    padding-right: 10px;
    background-position: 5px 7px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAASBAMAAABGPIgdAAAAG1BMVEUAAACurq6urq6urq6urq6urq6urq6urq6urq4asLPtAAAACHRSTlMAxOurFsllVoVPYlAAAAAySURBVAjXY0ABEh1g0Ahid0ABmA2Rpg+7oyEJZq9ERyvcPQwcHSZwh3KoIxzN7MCACQDJKxqoZp3x4wAAAABJRU5ErkJggg==');
}

.icons-comment:empty {
    padding-right: 0px
}

.icons-edit {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAOVBMVEUAAAC9w8e9w8e9w8e9w8e/xMi9w8e9w8e+w8e9w8e9w8e9w8e9w8e9w8e9w8e+w8e/xMi9w8e9w8fvY4+KAAAAEnRSTlMASPv3WQbwOTCkt4/psX4YDMWr+RRCAAAAUUlEQVQY06XLORKAMAxDUTs7kA3d/7AYGju0UfffjIgoHkxm0vB5bZyxKHx9eX0FJw0Y4bcXKQ4/CTtS5yqp5GFFOjGpVGl00k1pNDIb3Nv9AHC7BOZC4ZjvAAAAAElFTkSuQmCC+d0ckOwyAMRVGHUOO0gUyd+P8f7WApz4Iki9wFmyOEATrXLZcFp5LrGogPOxKp6zfFf9fZ1/I/cY7YZSS3U6S3XFZJmGBwL+FuJX/F1K0wUUlZyZGlXgXESthTEs4B8fh7xoVUDPGYJnsfkCRarKAgz8cAKbpD6pqDPz3XB8K6HdUEeN9NAAAAAElFTkSuQmCC);
}

.icons-reply {
    padding-left: 25px;
    margin-left: 5px;
    padding-right: 10px;
    background-position: 5px 6px;
    height: 19px;
    line-height: 19px;
    background-position: 5px 0px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIVBMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmYs5FxxAAAAC3RSTlMAgBFwYExAMHgoCDJmUTYAAAA3SURBVAjXY8APGGEMQZgAjCEoKBwEEQCCAoiIh6AQVM1kMaguJhGYOSJQjexiUMbiAChDCclCAOHqBBdHpwQTAAAAAElFTkSuQmCC);
}

.icons-reply:empty {
    padding-right: 0px
}

.icons-share {
    padding-left: 32px;
    padding-right: 10px;
    background-position: 7px 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAKlBMVEUAAACurq6urq6urq6urq6urq6urq6urq6urq6urq6urq6urq6urq6urq7nAmlHAAAADXRSTlMA48a1j0sVCfTorDQhpSwkfQAAAFdJREFUCNdjIAkkJ5y8CwSiDAzsuurcvUDmRQYGrruXGWJBwgwMvnfvOgCV8d4FEncvMJDGZLl79wqQCQRXGdbeNWBgkAUyb2woulTAwBAIEp7DZkaSawHVjTFYqPfYUwAAAABJRU5ErkJggg==')
}

.icons-share:empty {
    padding-right: 0px
}

.icons-heart {
    padding-left: 32px;
    padding-right: 2px;
    background-position: 7px 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASBAMAAACp/uMjAAAAMFBMVEUAAACqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqobnPPZAAAAD3RSTlMADcS4pt/IwK9qXE9ELRXt9n51AAAAaElEQVQI12PABRhtGRguC4CZQl8f8MUrggX1/yeK/f8kABL8//+L////imBBEAAJM/+HAgMGHhjzAAPDfgjrN1AbF4S5AGTafBDrJ9gKFhDTAWJz////P6COYAaZBAX13+FuY1JAcywAx1BERa6oCoIAAAAASUVORK5CYII=')
}

.icons-heart.active {
    /*color: #5d68ff;
    -webkit-filter: sepia(1) hue-rotate(192deg) brightness(0.55) saturate(5); -moz-filter: sepia(1) hue-rotate(192deg) brightness(0.55) saturate(5); -o-filter: sepia(1) hue-rotate(192deg) brightness(0.55) saturate(5); -ms-filter: sepia(1) hue-rotate(192deg) brightness(0.55) saturate(5); filter: sepia(1) hue-rotate(192deg) brightness(0.55) saturate(5) ;*/
    color: #13c095;
    -webkit-filter: sepia(1) hue-rotate(120deg) brightness(0.55) saturate(12); -moz-filter: sepia(1) hue-rotate(120deg) brightness(0.55) saturate(12); -o-filter: sepia(1) hue-rotate(120deg) brightness(0.55) saturate(12); -ms-filter: sepia(1) hue-rotate(120deg) brightness(0.55) saturate(12); filter: sepia(1) hue-rotate(120deg) brightness(0.55) saturate(12) ;
}

.icons-up {
    font-weight: normal !important;
    font-size: 15px;
    font-family: Tahoma;
    vertical-align: -4px;
    padding-right: 5px;
    display: inline;
    height: 1px;
}

.icons-upload {
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAmklEQVR42u3VwQ2AIAwFUEZgBEZxNDZwFEdwBDaigiHKwdBCvyYm/KQnKi8KgjEdISKbaitlzRspSKA7AY49IHisgeAwAaLHOpBxbADpxxSIHAMgMiwNroSL597KpVqqkqZ+xo3sPlEQP+yEJvRXiGuMMe4cknvY+Tkon1ktrIxZNYT69N9D7Gk7dkP7C5IstjbnZuEWG4Fk4wCMv9vjGFiLRgAAAABJRU5ErkJggg==')
}

.icons-image {
    width: 22px;
    height: 18px;
    -webkit-border-radius: 0px; -moz-border-radius: 0px; -o-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px ;
    overflow: hidden;
    margin: 4px 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #ddd;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box ;
    border: 1px solid;
}

.icons-image:before {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 10px;
    height: 18px;
    left: -2px;
    top: 7px;
    -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg) ;
    -webkit-box-shadow: inset 0 0 0 32px, 10px -6px 0 0; -moz-box-shadow: inset 0 0 0 32px, 10px -6px 0 0; -o-box-shadow: inset 0 0 0 32px, 10px -6px 0 0; -ms-box-shadow: inset 0 0 0 32px, 10px -6px 0 0; box-shadow: inset 0 0 0 32px, 10px -6px 0 0 ;
}

.icons-image:after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50% ;
    -webkit-box-shadow: inset 0 0 0 32px; -moz-box-shadow: inset 0 0 0 32px; -o-box-shadow: inset 0 0 0 32px; -ms-box-shadow: inset 0 0 0 32px; box-shadow: inset 0 0 0 32px ;
    top: 3px;
    right: 5px;
}

.icons-mute {
    width: 17px;
    height: 14px;
    background-repeat: no-repeat;
    padding-right: 5px;
    vertical-align: -2px;
    opacity: 0.2;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAMAAAD+MweGAAAARVBMVEUAAAABAAIAAAACAAIAAAIAAAABAAECAAICAAIAAAAAAAABAAIBAAIBAAIBAAIBAAMBAAMBAAEAAAIAAAAAAAAAAAABAAJgeLYdAAAAFnRSTlMA7jGWeQe9pY02IvTk2tLMxbhsORoUV1Pd4wAAAFBJREFUCNd1z+kKgDAMA+B0cx7zvvL+j6pDQcJcoH8+2kJQSmhqhXMhBeJIld34SAW4e1aSr5jvrAX4iTN6/MmUXYW49fo5bQ9JJMesoi3yXMOvBYnUTBisAAAAAElFTkSuQmCC')
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) ;
    }
    100% {
        -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); -o-transform: translateY(-3px); -ms-transform: translateY(-3px); transform: translateY(-3px) ;
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) ;
    }
    100% {
        -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); -o-transform: translateY(-3px); -ms-transform: translateY(-3px); transform: translateY(-3px) ;
    }
}
@-moz-keyframes bounce {
    0% {
        -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) ;
    }
    100% {
        -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); -o-transform: translateY(-3px); -ms-transform: translateY(-3px); transform: translateY(-3px) ;
    }
}



/* ---- /1MdwanV12uDDiVsgrsifDFdSsigLRD9dzu/css/main.min.css ---- */


/*
Credit goes to https://codepen.io/joshua_ward/ (https://codepen.io/joshua_ward/details/wegBva)
*/
html {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box ; }

*, *::after, *::before {
  -webkit-box-sizing: inherit; -moz-box-sizing: inherit; -o-box-sizing: inherit; -ms-box-sizing: inherit; box-sizing: inherit ; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box ;
  outline: none; }

.hide {
  opacity: 0; }

html,
body {
  margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444; }

.container {
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

header {
  position: relative;
  display: block;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 20px 0 0;
  overflow: hidden;
  z-index: 0; }
  header:before, header:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  header:before {
    background-color: rgba(63, 81, 181, 0.8);
    z-index: 0; }
  header:after {
    -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px) ;
    background-attachment: fixed;
    background-image: url("../data/images/header.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: blur 10s linear infinite; -moz-animation: blur 10s linear infinite; -o-animation: blur 10s linear infinite; -ms-animation: blur 10s linear infinite; animation: blur 10s linear infinite ;
    overflow: hidden;
    z-index: -1; }

@keyframes blur {
  0% {
    -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ; }
  50% {
    -webkit-filter: blur(20px); -moz-filter: blur(20px); -o-filter: blur(20px); -ms-filter: blur(20px); filter: blur(20px) ; }
  100% {
    -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ; } }
@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ; }
  50% {
    -webkit-filter: blur(20px); -moz-filter: blur(20px); -o-filter: blur(20px); -ms-filter: blur(20px); filter: blur(20px) ; }
  100% {
    -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ; } }
@-moz-keyframes blur {
  0% {
    -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ; }
  50% {
    -webkit-filter: blur(20px); -moz-filter: blur(20px); -o-filter: blur(20px); -ms-filter: blur(20px); filter: blur(20px) ; }
  100% {
    -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px) ; } }

  header nav {
    position: relative;
    z-index: 2; }
    header nav .logo {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0;
      -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50% ; }
      header nav .logo svg {
        position: absolute;
        -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ;
        -webkit-animation: scale 750ms ease-in-out; -moz-animation: scale 750ms ease-in-out; -o-animation: scale 750ms ease-in-out; -ms-animation: scale 750ms ease-in-out; animation: scale 750ms ease-in-out ; }

@keyframes scale {
  0% {
    -webkit-transform: scale(100); -moz-transform: scale(100); -o-transform: scale(100); -ms-transform: scale(100); transform: scale(100) ;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2) ; }
  70% {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ; }
  90% {
    -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7) ; }
  100% {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ;
    opacity: 1; } }
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(100); -moz-transform: scale(100); -o-transform: scale(100); -ms-transform: scale(100); transform: scale(100) ;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2) ; }
  70% {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ; }
  90% {
    -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7) ; }
  100% {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ;
    opacity: 1; } }
@-moz-keyframes scale {
  0% {
    -webkit-transform: scale(100); -moz-transform: scale(100); -o-transform: scale(100); -ms-transform: scale(100); transform: scale(100) ;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.2); -moz-transform: scale(0.2); -o-transform: scale(0.2); -ms-transform: scale(0.2); transform: scale(0.2) ; }
  70% {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ; }
  90% {
    -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7) ; }
  100% {
    -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1) ;
    opacity: 1; } }

    header nav .subscribe {
      position: relative;
      display: inline-block;
      padding: 15px 0;
      float: right;
      -webkit-animation: slide 1000ms ease; -moz-animation: slide 1000ms ease; -o-animation: slide 1000ms ease; -ms-animation: slide 1000ms ease; animation: slide 1000ms ease ; }
      header nav .subscribe a {
        position: relative;
        margin: 0;
        padding: 10px 20px;
        background-color: white;
        -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); -o-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); -ms-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); box-shadow: 0 0 35px rgba(0, 0, 0, 0.3) ;
        color: #3f51b5;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: box-shadow 500ms ease; -moz-transition: box-shadow 500ms ease; -o-transition: box-shadow 500ms ease; -ms-transition: box-shadow 500ms ease; transition: box-shadow 500ms ease ; }
        header nav .subscribe a:hover {
          -webkit-box-shadow: 0 0 0 transparent; -moz-box-shadow: 0 0 0 transparent; -o-box-shadow: 0 0 0 transparent; -ms-box-shadow: 0 0 0 transparent; box-shadow: 0 0 0 transparent ; }

@keyframes slide {
  0% {
    -webkit-transform: translateY(-600px); -moz-transform: translateY(-600px); -o-transform: translateY(-600px); -ms-transform: translateY(-600px); transform: translateY(-600px) ;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px) ;
    opacity: 1; } }
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-600px); -moz-transform: translateY(-600px); -o-transform: translateY(-600px); -ms-transform: translateY(-600px); transform: translateY(-600px) ;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px) ;
    opacity: 1; } }
@-moz-keyframes slide {
  0% {
    -webkit-transform: translateY(-600px); -moz-transform: translateY(-600px); -o-transform: translateY(-600px); -ms-transform: translateY(-600px); transform: translateY(-600px) ;
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px) ;
    opacity: 1; } }

  header blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    margin: 0;
    padding: 5px 0 5px 30px;
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: 2px;
    -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%) ;
    -webkit-animation: fadeIn 1250ms ease; -moz-animation: fadeIn 1250ms ease; -o-animation: fadeIn 1250ms ease; -ms-animation: fadeIn 1250ms ease; animation: fadeIn 1250ms ease ; }
    header blockquote:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-color: white;
      -webkit-animation: height 1000ms ease-in-out; -moz-animation: height 1000ms ease-in-out; -o-animation: height 1000ms ease-in-out; -ms-animation: height 1000ms ease-in-out; animation: height 1000ms ease-in-out ; }

@keyframes height {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-webkit-keyframes height {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-moz-keyframes height {
  0% {
    height: 0; }
  100% {
    height: 100%; } }


@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -150%); -moz-transform: translate(-50%, -150%); -o-transform: translate(-50%, -150%); -ms-transform: translate(-50%, -150%); transform: translate(-50%, -150%) ; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%, 0%); -moz-transform: translateY(-50%, 0%); -o-transform: translateY(-50%, 0%); -ms-transform: translateY(-50%, 0%); transform: translateY(-50%, 0%) ; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -150%); -moz-transform: translate(-50%, -150%); -o-transform: translate(-50%, -150%); -ms-transform: translate(-50%, -150%); transform: translate(-50%, -150%) ; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%, 0%); -moz-transform: translateY(-50%, 0%); -o-transform: translateY(-50%, 0%); -ms-transform: translateY(-50%, 0%); transform: translateY(-50%, 0%) ; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -150%); -moz-transform: translate(-50%, -150%); -o-transform: translate(-50%, -150%); -ms-transform: translate(-50%, -150%); transform: translate(-50%, -150%) ; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-50%, 0%); -moz-transform: translateY(-50%, 0%); -o-transform: translateY(-50%, 0%); -ms-transform: translateY(-50%, 0%); transform: translateY(-50%, 0%) ; } }

    @media screen and (min-width: 768px) {
      header blockquote {
        width: 70%; } }
    @media screen and (min-width: 1024px) {
      header blockquote {
        width: 60%; } }
    header blockquote span {
      position: relative;
      display: block;
      margin: 20px 0 0;
      font-size: 16px; }
  header .date {
    position: absolute;
    bottom: 20px;
    margin: 0;
    padding: 5px 15px;
    border: 2px solid white;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
    color: white;
    font-size: 12px;
    font-weight: 400; }
    header .date i {
      margin-right: 5px;
      font-size: 14px; }

section {
  position: relative;
  display: block;
  margin: 0;
  padding: 100px 0;
  z-index: 999; }
  section .scroll {
    position: absolute;
    right: 50px;
    top: -20px;
    width: 40px;
    height: 40px;
    background-color: white;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50% ; }
    section .scroll i {
      position: relative;
      top: 50%;
      left: 50%;
      color: #3f51b5;
      -webkit-transform: translate(-50%, -100%); -moz-transform: translate(-50%, -100%); -o-transform: translate(-50%, -100%); -ms-transform: translate(-50%, -100%); transform: translate(-50%, -100%) ;
      -webkit-animation: down 2s ease infinite; -moz-animation: down 2s ease infinite; -o-animation: down 2s ease infinite; -ms-animation: down 2s ease infinite; animation: down 2s ease infinite ;
      z-index: 9; }

@keyframes down {
  100% {
    -webkit-transform: translate(-50%, -30%); -moz-transform: translate(-50%, -30%); -o-transform: translate(-50%, -30%); -ms-transform: translate(-50%, -30%); transform: translate(-50%, -30%) ;
    opacity: 0; } }
@-webkit-keyframes down {
  100% {
    -webkit-transform: translate(-50%, -30%); -moz-transform: translate(-50%, -30%); -o-transform: translate(-50%, -30%); -ms-transform: translate(-50%, -30%); transform: translate(-50%, -30%) ;
    opacity: 0; } }
@-moz-keyframes down {
  100% {
    -webkit-transform: translate(-50%, -30%); -moz-transform: translate(-50%, -30%); -o-transform: translate(-50%, -30%); -ms-transform: translate(-50%, -30%); transform: translate(-50%, -30%) ;
    opacity: 0; } }

  section .container {
    width: 80%; }
    @media screen and (min-width: 768px) {
      section .container {
        width: 70%; } }
    @media screen and (min-width: 1024px) {
      section .container {
        width: 50%; } }
  section h1 {
    margin: 0;
    padding: 0;
    color: #e91e63;
    line-height: 1.5; }
  section .byline {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 50px;
    font-style: italic;
    vertical-align: middle; }
    section .byline .avatar {
      position: relative;
      display: inline-block;
      top: 10px;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      background-image: url("../data/images/avatar.jpg");
      background-size: cover;
      background-color: #e91e63;
      -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50% ; }
    section .byline span {
      color: #3f51b5;
      font-style: normal;
      font-weight: bold; }
  section p {
    margin-bottom: 50px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.95; }
    section p .drop {
      position: relative;
      display: inline-block;
      margin: 0 20px 0 0;
      color: #3f51b5;
      font-size: 64px;
      font-weight: bold;
      line-height: 1.2;
      float: left; }
  section blockquote {
    position: relative;
    width: 80%;
    margin: 150px auto;
    padding: 5px 0 5px 30px;
    border-left: 5px solid #3f51b5;
    color: #444;
    font-size: 20px;
    line-height: 1.75; }
    section blockquote span {
      position: relative;
      display: block;
      margin: 20px 0 0;
      font-size: 16px; }

.quote {
  height: 400px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  .quote:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3); -o-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3); -ms-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3) ;
    z-index: -1; }
  .quote blockquote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44%;
    margin: 0;
    padding: 5px 0 5px 30px;
    border-left: 5px solid #e91e63;
    color: #444;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: 2px;
    -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%) ; }
    .quote blockquote span {
      position: relative;
      display: block;
      margin: 20px 0 0;
      font-size: 16px; }

.comments {
  padding-top: 0; }
  .comments .toggle {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0 50px;
    padding: 10px;
    background-color: #ee4c83;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) ;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    .comments .toggle .indicator {
      position: relative;
      top: 4px;
      width: 15px;
      height: 16px;
      line-height: 1.75;
      -webkit-transition: transform 250ms ease; -moz-transition: transform 250ms ease; -o-transition: transform 250ms ease; -ms-transition: transform 250ms ease; transition: transform 250ms ease ;
      float: right; }
      .comments .toggle .indicator:before, .comments .toggle .indicator:after {
        position: absolute;
        content: ''; }
      .comments .toggle .indicator:before {
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: white;
        -webkit-transform: translateY(-1px); -moz-transform: translateY(-1px); -o-transform: translateY(-1px); -ms-transform: translateY(-1px); transform: translateY(-1px) ; }
      .comments .toggle .indicator:after {
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: white;
        -webkit-transform: translateX(-1px); -moz-transform: translateX(-1px); -o-transform: translateX(-1px); -ms-transform: translateX(-1px); transform: translateX(-1px) ; }
  .comments #toggle {
    display: none; }
    .comments #toggle:checked + .toggle .indicator {
      -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg) ; }
    .comments #toggle:checked ~ .wrapper {
      height: auto; }
  .comments .wrapper {
    position: relative;
    display: block;
    height: 0;
    overflow: hidden; }
    .comments .wrapper .comment {
      position: relative;
      display: flex; }
      .comments .wrapper .comment .user {
        position: relative;
        width: 80px;
        height: inherit;
        margin: 0 20px 20px 0;
        padding: 0;
        float: left;
        font-size: 12px;
        text-align: center; }
        .comments .wrapper .comment .user .pic {
          position: relative;
          width: 100%;
          height: 65px;
          margin: 6px auto;
          background-position: center center;
          background-size: cover;
          background-color: darkgray;
          overflow: hidden; }
        .comments .wrapper .comment .user .date {
          font-size: 12px; }
      .comments .wrapper .comment .text .author {
        font-weight: bold;
        text-transform: uppercase;
        color: #3f51b5; }
      .comments .wrapper .comment .text p {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 14px; }

.tags {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .tags::after {
    clear: both;
    content: "";
    display: block; }
  .tags li {
    position: relative;
    display: inline-block;
    margin: 0 5px 5px 0; }
    .tags li.tag {
      display: block;
      color: #3f51b5;
      font-weight: bold;
      text-transform: uppercase; }
    .tags li a {
      position: relative;
      display: block;
      padding: 7px 20px;
      background-color: #e91e63;
      -webkit-border-radius: 99px; -moz-border-radius: 99px; -o-border-radius: 99px; -ms-border-radius: 99px; border-radius: 99px ;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none; }
      .tags li a:hover {
        background-color: #ee4c83; }

.footer {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 50px 0 0;
  background: #434A54;
  z-index: 0; }
  .footer .footer-logo {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50% ; }
  .footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; }
  .footer ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 40px;
    padding: 0; }
    .footer ul li {
      line-height: 1.5em;
      list-style: none;
      text-align: center; }
      .footer ul li a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none; }
        .footer ul li a:focus, .footer ul li a:hover {
          color: white; }
      .footer ul li h3 {
        color: white;
        font-size: 1em;
        margin-bottom: 0.4em; }
  .footer .disclaimer {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px;
    background-color: #2c3138; }
    .footer .disclaimer p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      margin: auto;
      max-width: 35%;
      text-align: center; }

/* position: relative; top: x */
.prT-1 {
  top: 1px; }

.prT-2 {
  top: 2px; }

.prT-3 {
  top: 3px; }

.prT-4 {
  top: 4px; }

.prT-1, .prT-2, .prT-3, .prT-4 {
  position: relative; }

/* Override Elements */
sections div section div section.asection:first-child,
page div section div section.asection:first-child {
  padding-top: 0; }

sections div section div section.asection:last-child,
page div section div section.asection:last-child {
  padding-bottom: 0; }

sections div section div section.asection h1,
page div section div section.asection h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em; }

section h1.title {
  padding-left: 4px;
  font-size: 2rem; }

section p {
  font-family: 'Source Sans Pro', serif; }

header.collapsed {
  height: 10vh; }

.hide2 {
  display: none; }

#subscribe_btn.following :first-child,
#subscribe_btn:not(.following) :last-child {
  display: none; }

#subscribe_btn.following :last-child {
  display: block; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #444; }

/* Other Elements */
pre {
  padding: 4px 8px;
  overflow: scroll;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
  background-color: #f0f0f0; }

a,
a:visited,
a:hover,
a:active {
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden ;
  position: relative;
  -webkit-transition: 0.5s color ease; -moz-transition: 0.5s color ease; -o-transition: 0.5s color ease; -ms-transition: 0.5s color ease; transition: 0.5s color ease ;
  text-decoration: none;
  color: #3f51b5; }

a:hover {
  color: #e91e63; }

a.before:before,
a.after:after {
  content: "";
  -webkit-transition: 0.5s all ease; -moz-transition: 0.5s all ease; -o-transition: 0.5s all ease; -ms-transition: 0.5s all ease; transition: 0.5s all ease ;
  -webkit-backface-visibility: hidden;
  -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden ;
  position: absolute;
  left: 0px; }

a.before:before {
  top: -0.25em; }

a.after:after {
  bottom: -0.25em; }

a.before:before,
a.after:after {
  height: 5px;
  height: 0.3rem;
  width: 0;
  background: #3f51b5; }

a.first:after {
  left: 0; }

a.before:hover:before,
a.after:hover:after {
  width: 100%; }

.menu {
  background-color: white;
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transform: translate(0px, -30px); -moz-transform: translate(0px, -30px); -o-transform: translate(0px, -30px); -ms-transform: translate(0px, -30px); transform: translate(0px, -30px) ;
  pointer-events: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); -o-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); -ms-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3) ;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out; -o-transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out; transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out ; }

.menu.visible {
  opacity: 1;
  max-height: 350px;
  -webkit-transform: translate(0px, 0px); -moz-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px) ;
  -webkit-transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out; -moz-transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out; -o-transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out; -ms-transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out; transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out ;
  pointer-events: all; }

.menu-item {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 6px 24px;
  -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s ;
  border-bottom: none;
  font-weight: normal;
  padding-left: 30px; }

.menu-item-separator {
  margin-top: 5px;
  border-top: 1px solid #eee; }

.menu-item:hover {
  background-color: #F6F6F6;
  -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none ;
  color: inherit; }

.menu-item:active,
.menu-item:focus {
  background-color: #3f51b5;
  color: white;
  -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none ; }

.menu-item.selected:before {
  content: "L";
  display: inline-block;
  -webkit-transform: rotateZ(45deg) scaleX(-1); -moz-transform: rotateZ(45deg) scaleX(-1); -o-transform: rotateZ(45deg) scaleX(-1); -ms-transform: rotateZ(45deg) scaleX(-1); transform: rotateZ(45deg) scaleX(-1) ;
  font-weight: bold;
  position: absolute;
  margin-left: -17px;
  font-size: 12px;
  margin-top: 2px; }

.template {
  display: none; }

.card {
  margin-left: 1rem;
  margin-top: 2em;
  margin-bottom: 3em;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
  -webkit-box-shadow: 0 1.25rem 1rem -1.5rem rgba(43, 75, 82, 0.4), 0 0.5rem 1.75rem -0.25rem rgba(43, 75, 82, 0.2), 0 1.25rem 2.5rem rgba(43, 75, 82, 0.2); -moz-box-shadow: 0 1.25rem 1rem -1.5rem rgba(43, 75, 82, 0.4), 0 0.5rem 1.75rem -0.25rem rgba(43, 75, 82, 0.2), 0 1.25rem 2.5rem rgba(43, 75, 82, 0.2); -o-box-shadow: 0 1.25rem 1rem -1.5rem rgba(43, 75, 82, 0.4), 0 0.5rem 1.75rem -0.25rem rgba(43, 75, 82, 0.2), 0 1.25rem 2.5rem rgba(43, 75, 82, 0.2); -ms-box-shadow: 0 1.25rem 1rem -1.5rem rgba(43, 75, 82, 0.4), 0 0.5rem 1.75rem -0.25rem rgba(43, 75, 82, 0.2), 0 1.25rem 2.5rem rgba(43, 75, 82, 0.2); box-shadow: 0 1.25rem 1rem -1.5rem rgba(43, 75, 82, 0.4), 0 0.5rem 1.75rem -0.25rem rgba(43, 75, 82, 0.2), 0 1.25rem 2.5rem rgba(43, 75, 82, 0.2) ; }

.input {
  border: 2px solid #3f51b5;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
  padding: 2px 6px;
  font-family: 'Source Sans Pro', sans-serif; }
  .input:hover {
    border-color: #344397; }
  .input:active, .input:focus {
    border-color: #2a3678; }

.btn {
  margin: 4px;
  color: #e91e63;
  cursor: pointer;
  padding: 2px 6px;
  user-select: none;
  text-align: center;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px ;
  border: 2px solid #3f51b5;
  background: rgba(255, 255, 255, 0.5); }
  .btn:hover {
    background: rgba(235, 235, 235, 0.5); }
  .btn:active, .btn:focus {
    background: rgba(214, 214, 214, 0.5); }
  .btn.btn-primary {
    color: #3f51b5;
    border-color: #3f51b5; }
    .btn.btn-primary:hover {
      border-color: #344397; }
    .btn.btn-primary:active, .btn.btn-primary:focus {
      border-color: #2a3678; }
  .btn.btn-primary2 {
    color: #434A54;
    border-color: #434A54; }
    .btn.btn-primary2:hover {
      border-color: #31363d; }
    .btn.btn-primary2:active, .btn.btn-primary2:focus {
      border-color: #1f2227; }
  .btn.btn-accent {
    color: #e91e63;
    border-color: #e91e63; }
    .btn.btn-accent:hover {
      border-color: #ca1452; }
    .btn.btn-accent:active, .btn.btn-accent:focus {
      border-color: #a51043; }

.btn.btn-solid {
  color: white;
  background: #3f51b5; }
  .btn.btn-solid:hover {
    background: #344397; }
  .btn.btn-solid:active, .btn.btn-solid:focus {
    background: #2a3678; }
  .btn.btn-solid.btn-primary {
    background: #3f51b5; }
    .btn.btn-solid.btn-primary:hover {
      background: #344397; }
    .btn.btn-solid.btn-primary:active, .btn.btn-solid.btn-primary:focus {
      background: #2a3678; }
  .btn.btn-solid.btn-primary2 {
    background: #434A54; }
    .btn.btn-solid.btn-primary2:hover {
      background: #31363d; }
    .btn.btn-solid.btn-primary2:active, .btn.btn-solid.btn-primary2:focus {
      background: #1f2227; }
  .btn.btn-solid.btn-accent {
    background: #e91e63; }
    .btn.btn-solid.btn-accent:hover {
      background: #ca1452; }
    .btn.btn-solid.btn-accent:active, .btn.btn-solid.btn-accent:focus {
      background: #a51043; }

.newpostbtn {
  left: 4px;
  margin: 0;
  z-index: 99999;
  position: absolute !important;
  -webkit-border-radius: 0px 0px 4px 4px; -moz-border-radius: 0px 0px 4px 4px; -o-border-radius: 0px 0px 4px 4px; -ms-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px ; }

#editor_inputcntnt {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30vh;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
  border-top: 2px #444 solid; }

#editor .editor_title {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  margin: 0;
  padding: 0;
  color: #e91e63;
  line-height: 1.5;
  padding-left: 4px;
  font-size: 2rem;
  border: none;
  width: 100%; }

#editor .tags li a input {
  border: none;
  background: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }

#editor .tags li a .addbutton {
  cursor: pointer;
  width: 18px;
  height: 100%;
  float: right;
  text-align: center; }
 

 /*# sourceMappingURL= main.min.css.map */


/* ---- /1MdwanV12uDDiVsgrsifDFdSsigLRD9dzu/css/material-icons.css ---- */


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/MaterialIcons-Regular.woff2") format('woff2'), url("../fonts/MaterialIcons-Regular.woff") format('woff'), url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}