/*
Credit goes to https://codepen.io/joshua_ward/ (https://codepen.io/joshua_ward/details/wegBva)
*/

@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";
$base-duration: 500ms;
// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);
*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

.hide {
    opacity: 0;
}

html,
body {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-smooth: auto;
    font-weight: 300;
    line-height: 1.5;
    color: $color-t;
}

.container {
    @include clearfix;
    position: relative;
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

header {
    position: relative;
    display: block;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 20px 0 0;
    overflow: hidden;
    z-index: 0;
    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        background-color: rgba($color-p, 0.8);
        z-index: 0;
    }
    &:after {
        filter: blur(5px);
        background-attachment: fixed;
        background-image: url('../data/images/header.jpg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: blur 10s linear infinite;
        overflow: hidden;
        z-index: -1;
        @keyframes blur {
            0% {
                filter: blur(1px);
            }
            50% {
                filter: blur(20px);
            }
            100% {
                filter: blur(1px);
            }
        }
    }
    nav {
        position: relative;
        z-index: 2;
        .logo {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 0;
            border-radius: 50%;
            svg {
                position: absolute;
                transform: scale(1);
                animation: scale $base-duration * 1.5 ease-in-out;
            }
            @keyframes scale {
                0% {
                    transform: scale(100);
                    opacity: 0;
                }
                50% {
                    transform: scale(0.2);
                }
                70% {
                    transform: scale(1);
                }
                90% {
                    transform: scale(0.7);
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
        .subscribe {
            position: relative;
            display: inline-block;
            padding: 15px 0;
            float: right;
            animation: slide $base-duration * 2 ease;
            a {
                position: relative;
                margin: 0;
                padding: 10px 20px;
                background-color: white;
                border-radius: 4px;
                box-shadow: 0 0 35px rgba(black, 0.3);
                color: $color-p;
                font-size: 13px;
                text-decoration: none;
                text-transform: uppercase;
                transition: box-shadow 500ms ease;
                &:hover {
                    box-shadow: 0 0 0 rgba(black, 0.0);
                }
            }
            @keyframes slide {
                0% {
                    transform: translateY(-600px);
                    opacity: 0;
                }
                100% {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
    }
    blockquote {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        margin: 0;
        padding: 5px 0 5px 30px;
        // border-left: 5px solid white;
        color: white;
        font-size: 24px;
        font-weight: 100;
        line-height: 1.25;
        letter-spacing: 2px;
        transform: translate(-50%, -50%);
        animation: fadeIn $base-duration * 2.5 ease;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: white;
            animation: height $base-duration * 2 ease-in-out;
            @keyframes height {
                0% {
                    height: 0;
                }
                100% {
                    height: 100%;
                }
            }
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translate(-50%, -150%);
            }
            100% {
                opacity: 1;
                transform: translateY(-50%, 0%);
            }
        }
        @include media($med) {
            width: 70%;
        }
        @include media($lg) {
            width: 60%;
        }
        span {
            position: relative;
            display: block;
            margin: 20px 0 0;
            font-size: 16px;
        }
    }
    .date {
        position: absolute;
        bottom: 20px;
        margin: 0;
        padding: 5px 15px;
        border: 2px solid white;
        border-radius: 4px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        i {
            margin-right: 5px;
            font-size: 14px;
        }
    }
}

section {
    position: relative;
    display: block;
    margin: 0;
    padding: 100px 0;
    z-index: 999;
    .scroll {
        position: absolute;
        right: 50px;
        top: -20px;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        //box-shadow: 0 0 25px rgba(black,0.3);
        i {
            position: relative;
            top: 50%;
            left: 50%;
            color: $color-p;
            transform: translate(-50%, -100%);
            animation: down 2s ease infinite;
            z-index: 9;
            @keyframes down {
                100% {
                    transform: translate(-50%, -30%);
                    opacity: 0;
                }
            }
        }
    }
    .container {
        width: 80%;
        @include media($med) {
            width: 70%;
        }
        @include media($lg) {
            width: 50%;
        }
    }
    h1 {
        margin: 0;
        padding: 0;
        color: $color-a;
        line-height: 1.5;
    }
    .byline {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 50px;
        font-style: italic;
        vertical-align: middle;
        .avatar {
            position: relative;
            display: inline-block;
            top: 10px;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            background-image: url('../data/images/avatar.jpg');
            background-size: cover;
            background-color: $color-a;
            border-radius: 50%;
        }
        span {
            color: $color-p;
            font-style: normal;
            font-weight: bold;
        }
    }
    p {
        margin-bottom: 50px;
        font-family: 'Merriweather', serif;
        font-size: 16px;
        line-height: 1.95;
        .drop {
            position: relative;
            display: inline-block;
            margin: 0 20px 0 0;
            color: $color-p;
            font-size: 64px;
            font-weight: bold;
            line-height: 1.2;
            float: left;
        }
    }
    blockquote {
        position: relative;
        width: 80%;
        margin: 150px auto;
        padding: 5px 0 5px 30px;
        border-left: 5px solid $color-p;
        color: $color-t;
        font-size: 20px;
        line-height: 1.75;
        span {
            position: relative;
            display: block;
            margin: 20px 0 0;
            font-size: 16px;
        }
    }
}

.quote {
    height: 400px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    // &.desert {
    //     background-image: url('http://mentalsociety.com/wp-content/themes/twentyseventeen/assets/images/joshua-tree.jpg');
    // }
    // &.second {
    //     background-image: url('http://mentalsociety.com/wp-content/themes/twentyseventeen/assets/images/psychedelic.jpg');
    // }
    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 130%;
        height: 100%;
        background-color: rgba(white, 0.8);
        box-shadow: inset 0 0 30px rgba(black, 0.3);
        z-index: -1;
    }
    blockquote {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 44%;
        margin: 0;
        padding: 5px 0 5px 30px;
        border-left: 5px solid $color-a;
        color: $color-t;
        font-size: 24px;
        font-weight: 100;
        line-height: 1.25;
        letter-spacing: 2px;
        transform: translate(-50%, -50%);
        span {
            position: relative;
            display: block;
            margin: 20px 0 0;
            font-size: 16px;
        }
    }
}

.comments {
    padding-top: 0;
    .toggle {
        position: relative;
        display: block;
        width: 100%;
        margin: 10px 0 50px;
        padding: 10px;
        background-color: lighten($color-a, 10%);
        border-radius: 4px;
        box-shadow: 0 0 20px rgba(black, 0.3);
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        .indicator {
            position: relative;
            top: 4px;
            width: 15px;
            height: 16px;
            line-height: 1.75;
            transition: transform 250ms ease;
            float: right;
            &:before,
            &:after {
                position: absolute;
                content: '';
            }
            &:before {
                top: 50%;
                width: 100%;
                height: 2px;
                background-color: white;
                transform: translateY(-1px);
            }
            &:after {
                left: 50%;
                width: 2px;
                height: 100%;
                background-color: white;
                transform: translateX(-1px);
            }
        }
    }
    #toggle {
        display: none;
        &:checked+.toggle {
            .indicator {
                transform: rotate(45deg);
            }
        }
        &:checked~.wrapper {
            height: auto;
        }
    }
    .wrapper {
        position: relative;
        display: block;
        height: 0;
        overflow: hidden;
        .comment {
            position: relative;
            display: flex;
            .user {
                position: relative;
                width: 80px;
                height: inherit;
                margin: 0 20px 20px 0;
                padding: 0;
                float: left;
                font-size: 12px;
                text-align: center;
                .pic {
                    position: relative;
                    width: 100%;
                    height: 65px;
                    margin: 6px auto;
                    // background-image: url('http://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/Screen_Shot_2015-09-08_at_12.11.35_PM_sy22b5.jpg');
                    background-position: center center;
                    background-size: cover;
                    background-color: darkgray;
                    overflow: hidden;
                }
                .date {
                    font-size: 12px;
                }
            }
            .text {
                .author {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $color-p;
                }
                p {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.tags {
    @include clearfix;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        position: relative;
        display: inline-block;
        margin: 0 5px 5px 0;
        &.tag {
            display: block;
            color: $color-p;
            font-weight: bold;
            text-transform: uppercase;
        }
        a {
            position: relative;
            display: block;
            padding: 7px 20px;
            background-color: $color-a;
            border-radius: 99px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                background-color: lighten($color-a, 10%);
            }
        }
    }
}

// footer
.footer {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 50px 0 0;
    background: $color-p2;
    z-index: 0;
    .footer-logo {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background-color: white;
        border-radius: 50%;
    }
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    ul {
        flex-basis: 13em;
        flex-shrink: 0;
        margin-bottom: 40px;
        padding: 0;
        li {
            line-height: 1.5em;
            list-style: none;
            text-align: center;
            a {
                color: transparentize(white, 0.5);
                text-decoration: none;
                &:focus,
                &:hover {
                    color: transparentize(white, 0);
                }
            }
            h3 {
                color: white;
                font-size: 1em;
                margin-bottom: 0.4em;
            }
        }
    }
    .disclaimer {
        position: relative;
        display: block;
        width: 100%;
        padding: 30px;
        background-color: darken($color-p2, 10%);
        p {
            color: transparentize(white, 0.4);
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            margin: auto;
            max-width: 35%;
            text-align: center;
        }
    }
}