/* position: relative; top: x */

$PX: 1px;
$prT_m: 4;
@mixin prT-x {
    $prT-list: null;
    @for $i from 1 through $prT_m {
        .prT-#{$i} {
            top: $i * $PX;
        }
        $prT-list: append($prT-list, unquote(".prT-#{$i}"), comma);
    }
    #{$prT-list} {
        position: relative;
    }
}

@include prT-x;

/* Override Elements */

sections div section div section.asection:first-child,
page div section div section.asection:first-child {
    padding-top: 0;
}

sections div section div section.asection:last-child,
page div section div section.asection:last-child {
    padding-bottom: 0;
}

sections div section div section.asection h1,
page div section div section.asection h1 {
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}

section h1.title {
    padding-left: 4px;
    font-size: 2rem;
}

section p {
    font-family: 'Source Sans Pro', serif;
}

// section.preview p {
//     margin-bottom: 25px;
// }
header.collapsed {
    height: 10vh;
}

.hide2 {
    display: none;
}

#subscribe_btn.following :first-child,
#subscribe_btn:not(.following) :last-child {
    display: none;
}

#subscribe_btn.following :last-child {
    display: block;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
    color: $color-t;
}


/* Other Elements */

// Pre
pre {
    padding: 4px 8px;
    overflow: scroll;
    border-radius: 4px;
    background-color: darken(#ffffff, 6%);
}

// Hyperlink
a,
a:visited,
a:hover,
a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: $color-p;
}

a:hover {
    color: $color-a;
}

a.before:before,
a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 0px;
}

a.before:before {
    top: -0.25em;
}

a.after:after {
    bottom: -0.25em;
}

a.before:before,
a.after:after {
    height: 5px;
    height: 0.3rem;
    width: 0;
    background: $color-p;
}

a.first:after {
    left: 0;
}

a.before:hover:before,
a.after:hover:after {
    width: 100%;
}

// Menu (from ZeroBlog)
.menu {
    background-color: white;
    padding: 10px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 0px;
    overflow: hidden;
    transform: translate(0px, -30px);
    pointer-events: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 1s ease-out, max-height 0.2s ease-in-out;
}

.menu.visible {
    opacity: 1;
    max-height: 350px;
    transform: translate(0px, 0px);
    transition: opacity 0.1s ease-out, transform 0.3s ease-out, max-height 0.3s ease-in-out;
    pointer-events: all
}

.menu-item {
    display: block;
    text-decoration: none;
    color: $color-t;
    padding: 6px 24px;
    transition: all 0.2s;
    border-bottom: none;
    font-weight: normal;
    padding-left: 30px;
}

.menu-item-separator {
    margin-top: 5px;
    border-top: 1px solid #eee
}

.menu-item:hover {
    background-color: #F6F6F6;
    transition: none;
    color: inherit;
}

.menu-item:active,
.menu-item:focus {
    background-color: $color-p;
    color: white;
    transition: none
}

.menu-item.selected:before {
    content: "L";
    display: inline-block;
    transform: rotateZ(45deg) scaleX(-1);
    font-weight: bold;
    position: absolute;
    margin-left: -17px;
    font-size: 12px;
    margin-top: 2px;
}

.template {
    display: none;
}

// Card
.card {
    margin-left: 1rem;
    margin-top: 2em;
    margin-bottom: 3em;
    border-radius: 4px;
    box-shadow: 0 1.25rem 1rem -1.5rem rgba(43, 75, 82, 0.4), 0 0.5rem 1.75rem -0.25rem rgba(43, 75, 82, 0.2), 0 1.25rem 2.5rem rgba(43, 75, 82, 0.2)
}

.input {
    border: 2px solid $color-p;
    border-radius: 4px;
    padding: 2px 6px;
    font-family: 'Source Sans Pro', sans-serif;
    &:hover {
        border-color: darken($color-p, $prcnt1);
    }
    &:active,
    &:focus {
        border-color: darken($color-p, $prcnt2);
    }
}

$btnclrs: (primary, $color-p),
(primary2, $color-p2),
(accent, $color-a);
.btn {
    margin: 4px;
    color: $color-a;
    cursor: pointer;
    padding: 2px 6px;
    user-select: none;
    text-align: center;
    border-radius: 4px;
    border: 2px solid $color-p;
    background: rgba(255, 255, 255, 0.5);
    &:hover {
        background: darken(rgba(255, 255, 255, 0.5), $prcnt1);
    }
    &:active,
    &:focus {
        background: darken(rgba(255, 255, 255, 0.5), $prcnt2);
    }
    @each $name,
    $clr in $btnclrs {
        &.btn-#{$name} {
            color: $clr;
            border-color: $clr;
            &:hover {
                border-color: darken($clr, $prcnt1);
            }
            &:active,
            &:focus {
                border-color: darken($clr, $prcnt2);
            }
        }
    }
}

.btn.btn-solid {
    color: white;
    background: $color-p;
    &:hover {
        background: darken($color-p, $prcnt1);
    }
    &:active,
    &:focus {
        background: darken($color-p, $prcnt2);
    }
    @each $name,
    $clr in $btnclrs {
        &.btn-#{$name} {
            background: $clr;
            &:hover {
                background: darken($clr, $prcnt1);
            }
            &:active,
            &:focus {
                background: darken($clr, $prcnt2);
            }
        }
    }
}

.newpostbtn {
    left: 4px;
    margin: 0;
    z-index: 99999;
    position: absolute !important;
    border-radius: 0px 0px 4px 4px;
}

#editor_inputcntnt {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 30vh;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.65);
    border: none;
    border-top: 2px $color-t solid;
}

#editor .editor_title {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    margin: 0;
    padding: 0;
    color: #e91e63;
    line-height: 1.5;
    padding-left: 4px;
    font-size: 2rem;
    border: none;
    width: 100%;
}

#editor .tags li a input {
    border: none;
    background: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

#editor .tags li a .addbutton {
    cursor: pointer;
    width: 18px;
    height: 100%;
    float: right; // display: inline-block;
    text-align: center;
}