<!DOCTYPE html>

<html>

<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="" target="_top" id="base">
    <link rel="stylesheet" href="css/all.css" />
    <script>
        base.href = document.location.href.replace("/media", "").replace("index.html", "").replace(/[&?]wrapper=False/, "").replace(/[&?]wrapper_nonce=[A-Za-z0-9]+/, "")
    </script>

    <style type="text/css">
        .st0 {
            fill: #FFFFFF;
        }
        
        .st1 {
            fill: #e91e63;
        }
    </style>
</head>

<body>
    <div id="app" v-bind:class="{'hide2' : hide_app }">
        <header v-bind:class="{'collapsed' : collapse_header }">
            <div class="container">
                <nav>
                    <a class="logo" href="?" onclick="return app.loadBlog(-1);">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <circle class="st0" cx="25" cy="25" r="25"/>
                            <g>
                                <polygon class="st1" points="34.1,25 27.7,13.9 21.3,25 19.2,28.7 16.5,24 13,30 9.5,36.1 14.9,36.1 16.5,36.1 23.5,36.1 27.7,36.1 40.5,36.1"/>
                            </g>
                        </svg>
                    </a>
                    <div class="subscribe">
                        <a href="#Follow" id="subscribe_btn" onclick="return false;"><span>Subscribe</span><span>Subscribed</span></a>
                    </div>
                </nav>
                <blockquote v-bind:class="{'hide2' : hide_quote }">{{ quote }}
                    <span>&mdash; {{ quoteBy }}</span>
                </blockquote>
                <div class="date" v-bind:class="{'hide2' : hide_date }">
                    <i class="material-icons prT-2">event</i>
                    <span v-if="!singlePost">Created {{ moment(defaults.created, "x").format("MMMM Do, YYYY") }}</span>
                    <span v-else>{{ moment(pPostList[0].date_published, "x").format("MMMM Do, YYYY") }}</span>
                </div>
            </div>
        </header>

        <sections id="main">
            <div v-for="(post, index) in pPostList">
                <hr v-if="index > 0">
                <section>
                    <div v-if="index === 0" class="scroll"><i class="material-icons">arrow_downward</i></div>
                    <div class="container">
                        <h2 v-if="!singlePost">
                            <a class="first after" v-bind:href="'?P:' + post.post_id" v-bind:onclick="'return app.loadBlog(' + post.post_id + ', 0);'">{{ post.title }}</a>
                        </h2>
                        <h1 v-else class="title">{{ post.title }}</h1>

                        <h5 v-if="!singlePost">{{ moment(post.date_published, "x").format("MMMM Do, YYYY") }}</h5>
                        <div v-else class="byline">
                            <div class="avatar"></div>
                            by <span>AnthyG</span>
                        </div>

                        <ul class="tags">
                            <li class="tag">Tags</li>
                            <li v-for="(tag, index2) in printTags(post.post_id)">
                                <a v-bind:href="'?T:' + tag.value" v-bind:onclick="'return app.loadBlog(\'' + tag.value + '\', 2);'">{{ tag.value }}</a>
                            </li>
                        </ul>
                    </div>

                    <div v-html="markPost(post.body)"></div>
                </section>
            </div>
        </sections>

        <footer class="footer">
            <a class="footer-logo" href="?" onclick="return app.loadBlog(-1);">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <circle class="st0" cx="25" cy="25" r="25"/>
                    <g>
                        <polygon class="st1" points="34.1,25 27.7,13.9 21.3,25 19.2,28.7 16.5,24 13,30 9.5,36.1 14.9,36.1 16.5,36.1 23.5,36.1 27.7,36.1 40.5,36.1"/>
                    </g>
                </svg>
            </a>
            <div class="footer-links">
                <ul v-for="(fPart, index) in footer">
                    <li v-html="markFooter(fPart)"></li>
                </ul>
            </div>

            <div class="disclaimer">
                <p>Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> &nbsp;&nbsp;|&nbsp;&nbsp; <span v-html="markDefault('copyright')"></span></p>
            </div>
        </footer>
    </div>

    <div class="menu template">
        <a href="#" class="menu-item template">Template</a>
    </div>

    <script type="text/javascript" src="js/all.js"></script>

</body>

</html>