<!DOCTYPE html>

<html>

<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A beautiful Responsive Material Design Blog for the ZeroNet." />
    <meta name="keywords" content="beautiful, responsive, material design, blog" />
    <meta name="author" content="Glightstar">
    <meta name="robots" content="index, nofollow" />
    <meta name="revisit-after" content="7 days" />
    <!-- beautiful, responsive, material design, blog -->

    <link rel="stylesheet" href="css/all.css" />
    <base href="" target="_top" id="base">
    <script>
        base.href = document.location.href.replace("/media", "").replace("index.html", "").replace(/[&?]wrapper=False/, "").replace(/[&?]wrapper_nonce=[A-Za-z0-9]+/, "")
    </script>

    <style type="text/css">
        .st0 {
            fill: #FFFFFF;
        }
        
        .st1 {
            fill: #e91e63;
        }
    </style>
</head>

<body>
    <div id="app" v-bind:class="{'hide2' : hide_app }">
        <header v-bind:class="{'collapsed' : collapse_header }">
            <div class="container">
                <nav>
                    <a class="logo" href="?" onclick="return app.loadBlog(-1);">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <circle class="st0" cx="25" cy="25" r="25"/>
                            <g>
                                <polygon class="st1" points="34.1,25 27.7,13.9 21.3,25 19.2,28.7 16.5,24 13,30 9.5,36.1 14.9,36.1 16.5,36.1 23.5,36.1 27.7,36.1 40.5,36.1"/>
                            </g>
                        </svg>
                    </a>
                    <div class="subscribe">
                        <a href="#Follow" id="subscribe_btn" onclick="return false;"><span>Subscribe</span><span>Subscribed</span></a>
                    </div>
                </nav>
                <blockquote v-bind:class="{'hide2' : hide_quote }">{{ quote }}
                    <span>&mdash; {{ quoteBy }}</span>
                </blockquote>
                <div class="date" v-bind:class="{'hide2' : hide_date }">
                    <i class="material-icons prT-2">event</i>
                    <span v-if="!singlePost">Created {{ moment(defaults.created, "x").format("MMMM Do, YYYY") }}</span>
                    <span v-else>{{ moment(pPostList[0].date_published, "x").format("MMMM Do, YYYY") }}</span>
                </div>
            </div>
        </header>

        <isowner v-if="isOwner">
            <a class="btn btn-accent btn-solid newpostbtn" v-bind:href="'?E:New'" v-bind:onclick="'return app.loadEditor(null);'">Create new post</a>
            <editor id="editor" v-bind:class="{'hide2' : hide_editor }">
                <section>
                    <div class="container">
                        <input class="editor_title input" placeholder="Title" type="text" v-model="editor_title" />
                        <input class="input" placeholder="Quote" type="text" v-model="editor_quote" />
                        <input class="input" placeholder="Quote by" type="text" v-model="editor_quoteBy" />
                        <div class="byline">
                            <div class="avatar"></div>
                            by <span>AnthyG</span></div>
                        <ul class="tags">
                            <li class="tag">Tags</li>

                            <li v-for="(tag, index) in editor_tags">
                                <a v-bind:onclick="'app.editor_tags.splice(' + index + ', 1);'">{{ tag }}</a>
                            </li>

                            <li>
                                <a><input v-model="editor_newtag" type="text" placeholder="New tag" /><span class="addbutton" v-bind:onclick="'if (!app.editor_newtag) { return false; } else { app.editor_tags.push(app.editor_newtag); app.editor_newtag = \'\'; }'">+</span></a>
                            </li>
                        </ul>
                    </div>
                    <div id="editor_outputcntnt" v-html="markPost(editor_body, true)"></div>
                    <textarea id="editor_inputcntnt" v-model="editor_body" placeholder="Start writing here :)"></textarea>
                    <a class="btn btn-accent" v-bind:onclick="'return app.editor().save();'">Save</a>
                    <a class="btn btn-primary2" v-bind:onclick="'return app.editor().empty();'">Empty content of Editor</a>
                    <a class="btn btn-primary" v-bind:onclick="'return app.editor().close();'">Close</a>
                </section>
            </editor>
        </isowner>

        <sections id="main" v-bind:class="{'hide2': hide_postlist }">
            <div v-for="(post, index) in pPostList">
                <hr v-if="index > 0">
                <section>
                    <div v-if="index === 0" class="scroll"><i class="material-icons">arrow_downward</i></div>
                    <div class="container">
                        <h2 v-if="!singlePost">
                            <a class="first after" v-bind:href="'?P:' + post.post_id" v-bind:onclick="'return app.loadBlog(' + post.post_id + ', 0);'">{{ post.title }}</a>
                            <a class="btn" style="font-size: initial;" v-if="isOwner" v-bind:href="'?E:' + post.post_id" v-bind:onclick="'return app.loadEditor(' + post.post_id + ');'">Edit</a>
                        </h2>
                        <h1 v-else class="title">{{ post.title }} <a class="btn" style="font-size: initial;" v-if="isOwner" v-bind:href="'?E:' + post.post_id" v-bind:onclick="'return app.loadEditor(' + post.post_id + ');'">Edit</a></h1>

                        <h5 v-if="!singlePost">{{ moment(post.date_published, "x").format("MMMM Do, YYYY") }}</h5>
                        <div v-else class="byline">
                            <div class="avatar"></div>
                            by <span>AnthyG</span>
                        </div>

                        <ul class="tags">
                            <li class="tag">Tags</li>
                            <li v-for="(tag, index2) in printTags(post.post_id)">
                                <a v-bind:href="'?T:' + tag.value" v-bind:onclick="'return app.loadBlog(\'' + tag.value + '\', 2);'">{{ tag.value }}</a>
                            </li>
                        </ul>
                    </div>

                    <div v-html="markPost(post.body)"></div>
                </section>
            </div>
        </sections>

        <page id="page" v-bind:class="{'hide2': hide_page} ">
            <div>
                <section>
                    <div class="container">
                        <h1 class="title">{{ cur_page }}</h1>
                    </div>
                    <div v-if="pages[cur_page].md" v-html="markPost(pages[cur_page].body, true)"></div>
                    <div v-else v-html="pages[cur_page].body"></div>
                </section>
            </div>
        </page>

        <footer class="footer">
            <a class="footer-logo" href="?" onclick="return app.loadBlog(-1);">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <circle class="st0" cx="25" cy="25" r="25"/>
                    <g>
                        <polygon class="st1" points="34.1,25 27.7,13.9 21.3,25 19.2,28.7 16.5,24 13,30 9.5,36.1 14.9,36.1 16.5,36.1 23.5,36.1 27.7,36.1 40.5,36.1"/>
                    </g>
                </svg>
            </a>
            <div class="footer-links">
                <ul v-for="(fPart, index) in footer">
                    <li v-html="markFooter(fPart)"></li>
                </ul>
            </div>

            <div class="disclaimer">
                <p>Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> &nbsp;&nbsp;|&nbsp;&nbsp; <span v-html="markDefault('copyright')"></span></p>
            </div>
        </footer>
    </div>

    <div class="menu template">
        <a href="#" class="menu-item template">Template</a>
    </div>

    <script type="text/javascript" src="js/all.js"></script>

</body>

</html>